footer {
    -webkit-box-orient: horizontal;
    -ms-grid-row-align: center;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #a2a5b2;
}

footer a {
    margin: 1em;
    color: #fff;
}

footer > nav {
    -ms-flex-negative: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 12.5em;
    -webkit-flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-basis: 12.5em;
    box-sizing: border-box;
    -webkit-flex-basis: 12.5em;
        -ms-flex-preferred-size: 12.5em;
            flex-basis: 12.5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 1em 0;
    font-size: 0.8em;
}

address {
    width: 100%;
    margin: 0;
    background: #5c73ef;
    color: #fff;
}

address > pre {
    margin: 1em;
    white-space: pre-line;
}

footer > ul {
    -ms-flex-negative: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 3.33em;
    -webkit-flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-basis: 3.33em;
    box-sizing: border-box;
    -webkit-flex-basis: 3.33em;
        -ms-flex-preferred-size: 3.33em;
            flex-basis: 3.33em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 1em 0;
    font-size: 0.8em;
}

@media screen and (min-width:40em) {
    footer {
        -webkit-justify-content: space-around;
        -ms-grid-row-align: center;
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        -ms-flex-pack: distribute;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-align-content: space-around;
            -ms-flex-line-pack: distribute;
                align-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }
    footer > nav {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 1;
    }
    footer > address {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 1;
        width: 8em;
        background: none;
    }
    footer > ul {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 1;
    }
}
