footer {
    background: #a2a5b2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 1em;
}

footer > nav {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    order: 2;
    margin: 1em 0;
    font-size: 0.8em;
}

footer > address {
    order: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    background: #5c73ef;
}

address > pre {
    white-space: pre-line;
    margin: 1em;
}

footer > ul {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    order: 3;
    font-size: 0.8em;
    margin: 1em 0;
}

@media screen and (min-width:40em) {
    footer {
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
    }
    footer > nav {
        flex-grow: 0;
        order: 2
    }
    footer > address {
        background: none;
        flex-grow: 0;
        order: 3;
        width: 200px;
    }
    footer > ul {
        flex-grow: 0;
        order: 2;
    }
}
