body {
    max-width: 100%;
    background: #EFEFEF;
}

nav {
    box-sizing: border-box;
    display: inline-block;
}

nav > ul > li,
ul > li {
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
}


.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.order-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.order-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.order-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

main {
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    display: block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

main > article {
    max-width: 30em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
    border-top: #5C73EF solid 0.5em;
    background: #fff;
    box-shadow: 0.125rem 0.25rem 0.625rem RGBA(160, 160, 160, 0.54);
}

main > article > header {
    margin: 0 0 0.3em 0;
    border-bottom: #efefef solid 0.1em;
}

main > article h2 {
    margin: 0;
}

main > article > header span {
    margin: 0;
    padding: 0;
    color: #5c73ef;
    font-size: 0.4em;
}

main > article figcaption {
    font-size: 0.8em;
}

main > article img {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

main > article img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.8;
}

main > article figure {
    position: relative;
}

main > article figure > svg {
    fill: #fff;
    position: absolute;
    top: 30%;
    left: 0;
    width: 2em;
    height: 2em;
    margin: 0 35%;
    padding: 1em;
    border-radius: 50% 50%;
    background: RGBA(45, 46, 46, 0.76);
}

main > article figure > svg:hover {
    background: RGBA(45, 46, 46, 0.90);
}


/*form*/

main > article form input {
    width: 100%;
    height: 2em;
    margin: 1em 0;
    border: #5c73ef solid 0.2em;
}

main > article form >fieldset > button {
    width: 100%;
    height: 3em;
    margin: 1em 0;
    border: none;
    background: #5c73ef;
    color: #fff;
    font-size: 0.8em;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

main > article form >fieldset > button:active {
    font-size: 0.9em;
}

@media screen and (min-width:30em) {
    main > article {
        margin: 1em;
    }
}

@media screen and (min-width:91.3125em) {
    main {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
