body {
    max-width: 100vw;
}

main {
    background: #EFEFEF;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

main > article {
    max-width: 30em;
    background: #fff;
    border-top: #5C73EF solid 0.5em;
    box-shadow: 2px 4px 10px RGBA(160, 160, 160, 0.54);
    padding: 1em;
    overflow: hidden;
    margin: 1em 0;

}

main > article > header {
    border-bottom: #efefef solid 0.1em;
    margin: 0 0 0.3em 0;
}

main > article > header > h2 {
    margin: 0;
}

main > article > header span {
    font-size: 0.4em;
    margin: 0;
    padding: 0;
    color: #5c73ef;
}

main > article figure > figcaption{
    font-size: 0.8em;
}
main > article figure {
    position: relative;
}

main > article figure > img {
    width: 100%;
    height: auto;
}

main > article figure > svg {
    position: absolute;
    background: RGBA(45, 46, 46, 0.76);
    border-radius: 50% 50%;
    padding: 1em;
    margin: 0 35%;
    top: 30%;
    fill: #fff;
    width: 2em;
    height: 2em;
    left: 0;
}

main > article figure > svg:hover {
    background: RGBA(45, 46, 46, 0.90);
}


/*form*/
main > article form >fieldset > label > input {
    width: 100%;
    border: #5c73ef solid 0.2em;
    height: 2em;
    margin: 1em 0;
}

main > article form >fieldset > button {
    width: 100%;
    background: #5c73ef;
    height: 3em;
    border: none;
    color: #fff;
    margin: 1em 0;
}

@media screen and (min-width:30em) {
    main > article {
        margin: 1em;
    }
}
