/*menu*/

html. body > header {
    display: block;
}

html.no-flexbox body > header > h1 {
    width: 80%;
    float: right;
    padding: 0.5em;
}

html.no-flexbox body > header > nav {
    height: 3em;
}

html.no-flexbox body > header > section {
    width: 100%;
    display: block;
}

html.no-flexbox body > header img {
    float: right;
    display: inline-block;
}

html.no-flexbox body > header p {
    width: 40%;
    float: left;
    display: inline-block;
    margin: 0.3em 0 0 1em;
}

html.no-flexbox body > main > article {
    margin: 1em auto;
}

@media screen and (min-width:32em) {
    html.no-flexbox body > header h1 {
        float: left;
        width: 30%;
    }
    html.no-flexbox body > header > section {
        width: 30%;
        float: right;
        display: inline-block;
        background: #5c73ef;
    }
    html.no-flexbox body > main {
        clear: both;
    }
    html.no-flexbox footer {
        min-height: 10em;
    }
    html.no-flexbox footer > nav,
    html.no-flexbox footer > address,
    html.no-flexbox footer > ul {
        width: 28%;
        display: inline-block;
        margin: 1em;
        padding: 0;
    }
    html.no-flexbox footer > address pre {
        margin: 0;
        padding: 0;
    }
    html.no-flexbox footer > ul {
        float: right;
    }
}
