/*menu*/

.no-flexbox body > header {
    display: block;
}

.no-flexbox body > header > h1 {
    width: 80%;
    float: right;
    padding: 0.5em;
    height: 2em;
    margin: 0.6em;
}

.no-flexbox body > header section p {
    width: 40%;
    margin: 0.6em 0 0 1em;
    display: inline-block;
}

.no-flexbox body > header figure {
    float: right;
    display: inline-block;
    margin: 0.4em 1em 0 1em;
}

.no-flexbox body > main > article {
    margin: 1em auto;
}

@media screen and (min-width:32em) {
    .no-flexbox body > header h1 {
        float: left;
        margin-left: 50px;
        width: 50%;
        background: #5c73ef;
    }
    .no-flexbox body > header > section {
        width: 30%;
     position: absolute;
        top: 0;
        right: 20px;
        display: inline-block;
        background: #5c73ef;
    }
    .no-flexbox body > main {
        clear: both;
    }
    .no-flexbox footer {
        min-height: 10em;
    }
    .no-flexbox footer > nav,
    .no-flexbox footer > address,
    .no-flexbox footer > ul {
        width: 28%;
        display: inline-block;
        margin: 1em;
        padding: 0;
    }
    .no-flexbox footer > address pre {
        margin: 0;
        padding: 0;
    }
    .no-flexbox footer > ul {
        float: right;
    }
}
@media screen and (min-width:65em) {
    .no-flexbox body > header {
        background: #5c73ef;
        height: 4em;
    }
}
