.show-error {
    background: #E25454;
    padding: 0.5em;
    text-align: center;
}

body {
    font-size: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: calc(100vh);
    background: #3E3D3D;
    background: url(https://hva.dolstra.me/web-app-from-scratch/opdracht-6/assets/i/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

ul > li {
    list-style-type: none;
    display: inline-block;
}

main > section {
    padding: 0;
}

.disabled {
    display: none;
}

[role=article] {
    overflow: scroll;
}

.fade-in {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: growHeight 0.2s ease forwards;
    animation: growHeight 0.2s ease forwards;
}

@-webkit-keyframes growHeight {
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes growHeight {
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*home page */

.home header {
    text-align: center;
}

.home header h1 {
    font-size: 3em;
    margin: 0.3em 0 0 0;
    font-weight: 500;
}

.home header p {
    font-size: 1em;
     font-weight: 100;
}

.home header span {
    font-size: 4em;

    margin: 0.2em;
}

.home-info ul {
    padding-left: 0;
    margin-bottom: 10px;
}

.home-info ul li {
    width: 100%;
}

.home-info ul li span {
    width: 48%;
    display: block;
    float: left;
    margin: 0 1%;
}

.home-info ul .label {
    text-align: right;
}
