body {
    max-width: 100%;
    background: #EFEFEF;
}

nav {
    box-sizing: border-box;
    display: inline-block;
}

nav > ul > li,
ul > li {
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.responsive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.first {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.second {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.third {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}
.fourth {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}

main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

main article:first-child:nth-last-child(n+4),
main article:first-child:nth-last-child(n+4) ~ article {
    max-width: 25em;
}

:target {
    -webkit-animation: highlight 1.3s ease;
    animation: highlight 1.3s ease;
}

@-webkit-keyframes highlight {
    0% {
        border-top-color: #5C73EF;
    }
    50% {
        border-top-color: #62EF5C;
    }
    100% {
        border-top-color: #5C73EF;
    }
}

@keyframes highlight {
    0% {
        border-top-color: #5C73EF;
    }
    50% {
        border-top-color: #62EF5C;
    }
    100% {
        border-top-color: #5C73EF;
    }
}

article {
    max-width: 30em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
    border-top: #5C73EF solid 0.5em;
    background: #fff;
    box-shadow: 0.125rem 0.25rem 0.625rem RGBA(160, 160, 160, 0.54);
}

article > header {
    margin: 0 0 0.3em 0;
    border-bottom: #efefef solid 0.1em;
}

article h2 {
    margin: 0;
}

article > header span {
    margin: 0;
    padding: 0;
    color: #5c73ef;
    font-size: 0.4em;
}

article figcaption {
    font-size: 0.8em;
}

#bigimage a {
    display: none;
}

#bigimage:target {
    top: 0;
    border-top: #5c73ef solid 0.2em;
    position: fixed;
    background: #fff;
    overflow: hidden;
    padding: 1em;
    margin-top: 5vh;
    z-index: 1000;
    box-shadow: 0 0 0 60vmax rgba(0, 0, 0, .8);
}

#bigimage:target a {
    display: block;
}

#bigimage:target figure {
    max-width: 300px;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    margin: auto;
}

#bigimage:target  img {
    max-width: inherit;
    width: 40vw;
}

/* Basic styling */

#bigimage:targe figure {
    padding: 10px;
    border: 1px solid silver;
}

#photo-albums svg {
    fill: #000;
    width: 1em;
    height: 1em;
    padding: 1em;
}

figure > svg:hover {
    background: RGBA(45, 46, 46, 0.90);
}


/*form*/

article form input {
    width: 100%;
    height: 2em;
    margin: 1em 0;
    border: #5c73ef solid 0.2em;
}

form > fieldset > button {
    width: 100%;
    height: 3em;
    margin: 1em 0;
    border: none;
    background: #5c73ef;
    color: #fff;
    font-size: 0.8em;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

form > fieldset > button:active {
    font-size: 0.9em;
}

@media screen and (min-width:30em) {
    main > article {
        margin: 1em;
    }
}

@media screen and (min-width:91.3125em) {
    main {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
