body > header {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #5C73EF;
    color: #fff;
}

body > header > h1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    box-sizing: border-box;
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 2.9em;
    margin: 0;
    padding: 0.9em;
    font-size: 1.3em;
}

body > header > section {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 3em;
    background: RGB(108, 108, 108);
}

body > header img {
    width: 2em;
    height: 2em;
    margin: 0.5rem;
    border-radius: 50%;
     -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

body > header img:hover {
    -webkit-filter: contrast(0.5);
    -moz-filter: contrast(0.5);
    -o-filter: contrast(0.5);
    -ms-filter: contrast(0.5);
    filter: contrast(0.5);
}

body > header p {
    height: 2em;
    margin: 0.5rem;
}

body > header > nav {
    width: 3rem;
    height: 3.8em;
}

body > header > nav ul,
body > header > nav:active ul {
    display: none;
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
    background: RGBA(92, 115, 239, 0.80);
}

body > header > nav > a {
    padding: 1em 0 0 1em;
}

body > header > nav a {
    width: 100%;
    color: #fff;
    display: block
}

body > header > nav:hover ul {
    display: block;
    box-shadow: 0.1em 0.4em 0.9em RGBA(160, 160, 160, 0.54);
}

body > header li {
    margin: 0;
    padding: 0.3rem 1rem;
    border-bottom: #A2A5B2 solid 0.05em;
}

body > header li:hover {
    background: RGBA(36, 69, 248, 0.94);
}

body > header li svg {
    width: 2em;
    height: 1em;
}


/*source http://codepen.io/tonkec/pen/BjKjpV*/

.con {
    display: block;
    width: 2rem;
    margin: 0.3em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.con:hover {
    cursor: pointer;
}

.bar {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 0.5rem auto;
    background: #fff;
}

.middle {
    margin: 0 auto;
}

.bar {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

.con:hover .top {
    -webkit-transform: translateY(0.7rem) rotateZ(45deg);
    transform: translateY(0.7rem) rotateZ(45deg);
}

.con:hover .bottom {
    -webkit-transform: translateY(-0.7rem) rotateZ(-45deg);
    transform: translateY(-0.7rem) rotateZ(-45deg);
}

.con:hover .middle {
    width: 0;
}

@media screen and (min-width:32em) {
    body > header p {
        width: 6em;
        font-size: 0.7em;
        text-align: right;
    }
    body > header > section {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        margin: 0.3em;
        background: #5c73ef;
    }
}

@media screen and (min-width:65em) {
    body {
        max-width: 100%;
        margin-left: 15em;
    }
    body > header > nav ul,
    body > header > nav:active ul {
        -webkit-backdrop-filter: blur(1em);
        display: block;
        position: fixed;
        top: 0;
        width: 15em;
        height: 100%;
        padding: 1em 0 0 0;
        -webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(1em);
        background: RGBA(92, 115, 239, 0.80);
    }
    body > header > nav {
        width: 0;
    }
    body > header > nav > a {
        display: none;
    }
}
